<div class="container">
<div class="row">
  <div class="col-md-4">
   <h3>Eat Me!</h3>
   {{#each burgers}}
   <!-- #each will loop through the burgers table -->
   {{#unless devoured}}
   <!-- #unless will render the block if it returns falsy -->
  
      {{burger_name}} - {{devoured}}
      <br>
      <form action="/{{id}}?_method=PUT" method="POST">
         <input type="hidden" name="devoured" value="true">
         <button type="submit">Devour!</button>
      </form>
      <br>
      {{/unless}}
   {{/each}}
 </div>
 <br>
   
  <div class="col-md-4">
<h3>Devoured Burgers</h3>

   {{#each burgers}}
   <!-- Loop through burgers -->
   {{#if devoured}}
   <!-- #if conditional -->

      {{burger_name}} - {{devoured}}
      <br>
      <form action="/{{id}}?_method=PUT" method="POST">
         <input type="hidden" name="devoured" value="false">
         <button type="submit">Undevour!</button>
      </form>
      <br>
      {{/if}}
   {{/each}}
 </div>
 <br>

<!-- Input field to add a burger into the app -->
<div class="col-md-4">

<h2>Add a Burger! Press Submit!</h2>
<form class="create-update-form" action="/create" method="POST">
   <div class="form-group">
      <label for="ca">Burger Name:</label>
      <!-- burgername connects it to the burger_controller.js POST route -->
      <input type="text" id="ca" name="burgername">
      <button type="submit">Submit</button>
   </div>
</form>

</div>
</div>
</div>





